$navbar-height: 65px
$burger-menu-width: 18px
$toggle-btn-width: $navbar-height - ($navbar-height - $burger-menu-width) / 2
    
body
    margin: 0
    padding: 0
    background: #fff
    overflow: hidden
    user-select: none
*
    box-sizing: border-box
header
    width: 100%
    height: $navbar-height
    box-shadow: 0 0 20px rgba(#000, .075)
    display: flex
    .sidebar_toggle_section
        width: $navbar-height * 1.5 + $toggle-btn-width
        height: $navbar-height
        border-right: .5px solid rgba(#000, .075)
        display: flex
        .toggle_btn
            width: $toggle-btn-width
            height: $navbar-height
            display: flex
            align-items: center
            justify-content: flex-end
            .burger_menu
                span
                    display: block
                    height: 2px
                    width: $burger-menu-width
                    background: #000
                    margin: 3px
        .title
            width: $navbar-height * 1.5
            height: $navbar-height
            display: flex
            align-items: center
            justify-content: center
            font-family: 'Poppins', sans-serif
            font-size: 14px
            text-transform: uppercase
    .logo_section
        width: calc(100% - #{$navbar-height * 6.5})
        height: $navbar-height
    .account_data_section
        width: $navbar-height * 3
        height: $navbar-height
        border-left: .5px solid rgba(#000, .075)
        display: flex
        justify-content: center
        flex-direction: column
        span
            font-family: 'Poppins', sans-serif
            display: block
            margin-left: 21px
            line-height: 15px
        .account_name
            text-transform: uppercase
            color: #000
            font-weight: 500
            font-size: 14px
            .status
                font-size: 10px
                padding: 2px 4px
                display: inline-block
                background: #fcc400
                color: #fff
                margin-left: 5px
                transform: translateY(-2px)
                border-radius: 2px 
        .account_name_subtitle
            color: rgba(#000, .5)
            font-size: 12px
    .account_avatar_section
        width: $navbar-height
        height: $navbar-height
        display: flex
        justify-content: center
        align-items: center
        .avatar
            height: $navbar-height
            width: $navbar-height
            border-radius: 50% 0 0 50%
            background-position: center
            background-size: cover